.collection .collection-container {
    display: flex;
}
.collection .collection-container .fillter {
    width: 20%;
    height: 100vh ;
    padding: 20px;
    background-color:rgb(244 244 247);
    display: flex;  
    flex-direction: column;
    gap: 20px;
}
.collection .collection-container .fillter .search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection .collection-container .fillter .search  {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.collection .collection-container .fillter .search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
}

.collection .collection-container .fillter .fillter-cate {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.collection .collection-container .fillter .fillter-cate h3 {
    margin-bottom: 10px;
}
.collection .fillter-cate label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    color: rgb(123 123 123);
}

.collection .collection-container .fillter .sort {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.collection .collection-container .fillter .sort h3 {
    margin-bottom: 10px;
}
.collection .collection-container .fillter .sort select {
    padding: 10px;
    border: 1px solid rgb(221 221 221);
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.collection .collection-container .items-container { 
    width: 80%;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));    
    gap: 20px;
}
.collection .collection-container .items-container .items {
    margin-top: 0;
    margin-bottom: 0;
}
/* start pagination */
.pagination {   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination button {   
    cursor: pointer;
}
.pagination button.numpage {   
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    /* background-color: ; */
}
.pagination .prev {
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 20px;
}
.pagination .next {
    margin-left: 10px;
        padding: 10px 15px;
    border-radius: 20px;
}
.pagination .numpage {
    margin: 5px;
}
.notactive {
    opacity: 50%;
    cursor: no-drop !important;
}
.activepage {
    background-color: #000;
    color: #fff;
}
/* end pagination */

 
 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 768.98px) { 
    .collection .collection-container {
        flex-direction: column;
    }
    .collection .collection-container .fillter {
    width: 100%;
    height: auto;
    }
    .collection .collection-container .items-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        width: auto;
    padding: 0px 10px;
    display: grid;
    gap: 10px;
    }
    .related-products .items {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-bottom: 0;
    margin-top: 0;
}
    .related-products .items .item .details {
    padding: 10px;
}
.items .item .image {

    height: auto;
}
.product-page .product-desc .desc .head  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .product-page .product-desc .desc .head button {
    margin-right: 0px;
    width: fit-content;
    background-color: rgb(255 255 255 / 70%);
}
    .product-page .product-desc .desc .head button.active {
    margin-right: 0px;
    width: fit-content;
    background-color: rgb(255 255 255 / 100%);
}
    .product-page .product-desc .desc .head button::before {
    display: none;
}
 }

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/*  X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }
.max-width-xl {
    max-width: 1399.98px;
    margin: 0 auto;
}