section.features {
    margin-top: 20px;
    margin-bottom: 50px;
}
.features__container {
      display: flex;
  justify-content: space-around;
  align-items: center;
}
.features__item  {
    line-height: 1.5;
}
.features__item h4 {
    font-weight: normal;
}
.features__item p {
    font-size: 14px;
    color: rgb(123 123 123);
}



@media (max-width: 767.98px) { 
    .features__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 10px;
        text-align: center;
    }
    section.features {
        margin-top: 0;
        margin-bottom: 10px;
    }
    section.product-feature .features .feat .icon {
        margin-right: 0px;
    }
}